@page
@model PeliculaCrudRazor.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Peliculas";
}

<h1>Lista de Peliculas</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Crear pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].Realease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].Gener)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Peliculas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gener)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> 
                <a asp-page="./Details" class="btn btn-primary"  asp-route-id="@item.Id">Detalles</a> 
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
